<!DOCTYPE html>
<html lang="en">

<head>
<%- include('./partials/header.ejs') %> 
</head>
<body>

<!-- Navigation section-->
<%- include('./partials/content.ejs') %> 


<!-- Main Content -->
  <main>
    <%- include('./content/' + page + '.ejs') %>
  </main>

<footer>
<%- include('./partials/footer.ejs') %> 
</footer>

 <!-- JavaScript Section-->
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>

</body>
</html>