/*
* Author         : Hanqing Liu
* Student Number : 301153641
* Date           : Sep 20, 2021
* Description    : Assignment 1 for COMP229
*/

.container{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.projectHeader{
    margin-top: 100px;
    font-size: 3vw;
    text-align: center;
}
.masonry {       
    columns: 3;    
    padding-top: 2.5vw;
  }

  .item {
    padding: 15px;
    margin-bottom: 30vh;
  }
  
  .item img { 
    max-width:100%;
    max-height:100%; 
    align-items: center;
    border:100px;
    position: relative;
  }

  
  .item h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
  }
  
  .item p {
    color: rgb(0, 0, 0);
    padding-top: 30px;
    font-size: large;
    padding: 10px;
  }
  
  .container-1{
      background-color:rgb(233, 233, 233);      
      display: block;
      border-radius:10px;     
      
  }

  .container-2{
    background-color: rgb(233, 233, 233);
    margin-top: 300px;
    display: block;
    border-radius:10px;    

}
.container-3{
    background-color: rgb(233, 233, 233);   
    display: block;
    border-radius:10px;
}




