<div class="projectHeader">About me</div>
<div style="font-family: Arial; max-width: 1200px;height: 500px; margin: 45px auto; background:floralwhite;">
    <img src="Assets/images/photo.jpg" style="padding-top: 40px;float: left;padding-right: 100px;width: 450px;" </div>
        <div style="padding: 10px; font-size: large; color:rgb(27, 24, 18);">
            <p style="padding-left: 400px;padding-top: 50px;">
                <h3><b>Welcome to my home page. I'm Hanqing.</b></h3>
            </p>
            
            <ul style="padding: 20px; font-size: large; line-height: 25px; padding-right: 100px; padding-left: 400px;padding-top: 60px;">
                <li>I'm learning <b>Software Engineering Technician</b> in Centennial College currently.</li>
                <br>
                <li>I have almost 3-year experience in coding since my first job as an Android Engineer .</li>
                <br>
                <li>I like building web application, and making some funny things through coding</li>
               <br>
               <div style="text-align: center;padding-top: 50px;">
               <button type="button" class="btn btn-primary" onclick="location.href='/resume'">My resume</button>
            </div>
            </ul>
        </div>
</div>
        