<div class="contact">
  <h1 class="display">
    <div>
    <h1 class="FindMe">
       <p>Find Me </p>
       <a href="https://www.linkedin.com/in/hanqing-l-24b749119"><i class="fab fa-linkedin"></i></a>
       <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
       <a href="https://web.wechat.com/"><i class="fab fa-weixin"></i></a>
      </h1>
    </div>
  </h1>
    <div class="error">
    <div id="errorMessage" class="alert alert-danger" hidden role="alert">Please enter a Valid First Name with a length of 2 or more characters</div>
  </div>
  <div class="contact-2">
  <form id="contactForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" aria-describedby="firstName" placeholder="Enter your First Name" required autofocus>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" aria-describedby="lastName" placeholder="Enter your Last Name" required>
    </div>

    <div class="form-group">
      <label for="contactNumber">Contact Number</label>
      <input type="tel" class="form-control" id="contactNumber" name="contactNumber" aria-describedby="contactNumber" placeholder="Enter your Contact Number" required>

      <div class="form-group">
        <label for="emailAddress">Email address</label>   
        <input type="email" class="form-control" id="emailAddress" name="emailAddress" aria-describedby="emailAddress"
                placeholder="Enter your email address" required>
      </div>

      <div class="form-group">
        <label for="shortMessage">Your Message</label>
        <textarea class="form-control" id="shortMessage"  name="shortMessage" rows="3" aria-describedby="shortMessage"></textarea>
      </div>
    
      <div class="btnGroup">
      <button onclick="location.href='/home'" id="submitButton" type="submit" class="btn btn-primary btn-lg"><i class="fas fa-envelope-square"></i> Send</button>
      <button id="resetButton" type="reset" class="btn btn-warning btn-lg"><i class="fas fa-comment-slash"></i> Reset</button>
    </div>
    </form>

  <div class="ContactPic">
    <i class="fas fa-envelope-open-text"></i>
  </div>
</div>

</div>