<!-- Main Content -->
<div class="container">
  <div class="projectHeader">My Projects</div>
  <div class="masonry">
    <div class="container-1">
      <div class="item item1">
        <h2>A Weather Demo</h2>
      <img src="Assets/images/Weather.gif">
      <p>
        This is a weather demo that can show the weather of the location by inputting. 
      </p>
      </div>
    </div>

    <div class=" container-2">  
  <div class="item item2">
    <h2>Bug Catcher</h2>
    <img src="Assets/images/BugCatch.gif" class="img-fluid">
    <p>
      This is small page game that you can get score by catching the bug
    </p>
  </div>
  </div>
  <div class="container-3"> 
  <div class="item item3">
    <h2>A Company Web Page Demo</h2>
    <img src="Assets/images/CompanyWeb.gif" class="img-fluid">
    <p>
      This is a website with several pages designed for a company
    </p>
  </div>
</div>
</div>
</div>


