<!-- Main Content -->
<div class="container">
  <div class="projectHeader">My Services</div>
  <div class="masonry">
    <div class="container-1 container-service1" style="background-color:darkslategray">
      <div class="item item1">
        <h2 style="color:aliceblue">General Programming</h2>
      <img src="Assets/images/programming.jpg">
      <p style="color:aliceblue">
        C#, Java, Python...
      </p>
      <br>
      </div>
    </div>

    <div class="container-2" style="background-color:darkslategray">  
  <div class="item item2">
    <h2 style="color:aliceblue">Web Development</h2>
    
    <img src="Assets/images/web.jpg" class="img-fluid">
    <p style="color:aliceblue">
      HTML, CSS, SCSS, JavaScript, TypeScript, Node.js, React.js, MongoDB...
    </p>

  </div>
  </div>
  <div class="container-3 container-service1" style="background-color:darkslategray"> 
    
  <div class="item item3">
    <h2 style="color:aliceblue">Mobile Apps</h2>
    <br>
    <img src="Assets/images/mobile.jpg" class="img-fluid">
    <p style="color:aliceblue">
      Android, Kotlin, IOS, Swift
    </p>
  </div>
</div>
</div>
</div>


